body {
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(209, 255, 236);
    padding: 2%;
}

.container-geral {
    margin: auto;
    width: 60%;
}

.container-geral .container-title {
    margin-bottom: 2%;
    border: 1px solid rgba(20, 87, 40, 0.993);
    background-color: rgb(152, 231, 198);
}

.container-geral .container-title h1 {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: rgba(85, 85, 85, 0.993);
}

.container-geral .container-body {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    background-image: url('pharmacy.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.content {
    width: 60%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.6);
}

.content fieldset {
    width: 100%;
    border: none; 
}

.content legend {
    margin-bottom: 3%;
}

.content .field {
    margin-bottom: 5%;
    text-align: left;
}

.content .field label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgba(85, 85, 85, 0.993);
}

.content .field .radio-option {
    margin-bottom: 0%;
    text-align: left;
}

.content .field.special {
    font-weight: 600;
    color: rgba(85, 85, 85, 0.993);
}

.content .button {
    text-align: center;
}

.content table {
    border-collapse: collapse;
    margin-bottom: 3%;
    width: 100%;
}

.content tr {
    border: 1px solid black;
}

.content td {
    margin-left: 10px;
}

.content p {
    text-align: center;
    border: 1px solid black;
    margin-bottom: 0px;
    margin-top: 0px;
}


.alert {
    color: red;
}


.bold {
    font-weight: bold;
}


